@import 'mixins.scss';

.block-large{
    padding: 60px 0;
}

.mt-10{
    margin-top: 10px;
}

.mb-80{
    margin-bottom: 80px;
    @include md-less{
        margin-bottom: 0;
    }
}

.mb-40{
    margin-bottom: 40px;
}

.sm-mb-40{
    display: block;
    @include md-less{
        margin-bottom: 40px;
    }
}

.mb-0{
    margin-bottom: 0;
}

.pb-0{
    padding-bottom: 0;
}

.padding{
    padding: 0;
}

.bg-grey{
    background-color: $grey;
}

.bg-red{
    background-color: $red;
}

.bg-white{
    background-color: $white;
}

.bg-blue{
    background-color: $dark-blue;
}

.bg-black{
    background-color: $black;
}

.md-bg-grey{
    @include md-less{
        background-color: $grey;
    }
}

.rel{
    position: relative;
}

.red{
    color: $red;
}

.bold{
    font-weight: 600;
}

.offset-lg-1-r{
    margin-right: 8.33333%;
    @include md-less{
        margin-right: 0;
    }
}

.w100{
    width: 100%;
}