body{
    font-family: $font;
}

.heading{
    font-family: $font;
    font-size: 30px;
    color: $black;
    &.white{
        color: $white;
    }
    &.bold{
        font-weight: 600;
    }
    &.red{
        color: $red;
    }
    @include md-less{
        font-size: 28px;
    }
}

.subheading{
    font-family: $font;
    font-size: 24px;
    color: $black;
    font-weight: 500;
    line-height: 1.2;
    &.white{
        color: $white;
    }
    &.red{
        color: $red;
    }
    &.bold{
        font-weight: 600;
    }
    &.author{
        font-size: 18px;
        @include md-less{
            font-size: 16px;
        }
    }
    &.small{
        font-size: 20px;
        @include md-less{
            font-size: 18px;
        }
    }
    @include md-less{
        font-size: 22px;
    }
}

.text{
    font-family: $font;
    color: $dark-grey;
    margin: 0;
    padding: 0;
    font-size: 14px;
    &.white{
        color: $white;
    }
    &.bold{
        font-weight: 600;
    }
    @include md-less{
        font-size: 12px;
    }
}

.link{
    font-family: $font;
    color: $red;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    transition: all 0.3s ease;
    &:hover{
        color: $red;
        text-decoration: none;
    }
    &.white{
        color: $white;
        &:hover{
            color: $white;
        }
    }
    &.bold{
        font-weight: bold;
    }
    @include md-less{
        font-size: 12px;
    }
}

.copyright{
    font-family: $font;
    font-size: 12px;
    color: $dark-grey;
    margin: 10px 0;
    @include sm-less{
        text-align: center;
    }
    @include md-less{
        font-size: 10px;
    }
}