.block-tile{
    .content{
        text-align: center;
        padding: 20px 60px;
        @include md-less{
            padding: 30px 15px 30px 15px;
        }
    }
    .banner-image{
        width: 100%;
    }
}