.block-quote{
    text-align: center;
    .quote{
        display: block;
        margin: 0 auto 40px auto;
    }
    .person{
        display: block;
        margin-bottom: 0;
        margin-top: 20px;
        color: $white;
        font-weight: 600;
    }
    .company{
        display: block;
        color: $white;
        margin: 0;
    }
}