.block-cards{
    .content{
        text-align: center;
    }
    .spacing{
        margin: 0 0 40px 0;
        @include md-less{
            margin: 0 0 20px 0;
        }
    }
    .card{
        padding: 15px;
        border: 0;
        height: 100%;
        @include md-less{
            margin-bottom: 20px;
            height: auto;
        }
        .image{
            max-width: 100px;
            margin: 0 auto;
        }
        .heading{
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            color: $red;
            font-weight: 300;
            margin: 20px 0;
        }
        .text{
            text-align: center;
        }
    }
}