.block-news{
    .item{
        height: 100%;
        padding: 5px;
        transition: all 0.5s ease;
        transform: scale3d(1, 1, 1) translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-font-smoothing: subpixel-antialiased;
        transform-style: preserve-3d;
        @include md-less{
            height: auto;
            margin-bottom: 50px;
        }
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
            box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .15);
            content: '';
            opacity: 0;
        }
        &:hover,
        &:focus {
            transform: scale(1.1, 1.1) translateZ(0);
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.1,1.1);
            -webkit-font-smoothing: subpixel-antialiased;
            transform-style: preserve-3d;
            &::after {
                opacity: 1;
            }
        }
    }
    .content{
        padding: 15px 0;
        @include md-less{
            padding: 15px;
        }
    }
    .image{
        width: 100%;
    }
    .date{
        display: block;
        text-transform: uppercase;
        color: $dark-grey;
    }
    .link{
        font-size: 12px;
        position: relative;
        display: inline-block;
        z-index: 2;
        &:before{
            display: inline-block;
            content: '';
            position: absolute;
            height: 1px;
            bottom: 0;
            width: 80px;
            background-color: $red;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }
        &:hover{
            &:before{
                visibility: visible;
                transform: scaleX(1);
            }
        }
        .arrow{
            display: inline-block;
            height: 8px;
            vertical-align: baseline;
        }
    }
}