.block-images{
    overflow: hidden;
    .image{
        width: 100%;
    }
    .left{
        @include md-less{
            transform: translateX(25%);
        }
    }
    .right{
        @include md-less{
            transform: translateX(-25%);
        }
    }
}