.block-ar{
    position: relative;
    .image{
        width: 100%;
    }
    .tile-right{
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 540px;
    }
    .content{
        @include lg-less{
            padding: 20px 0;
        }
        @include md-less{
            padding: 20px 15px;
            text-align: center;
        }
    }
}