.block-contact{
    .contact{
        padding: 60px;
        background-color: $white;
    }
    .google{
        text-align: center;
        padding: 0 40px;
        @include md-less{
            padding: 0;
            margin: 40px 0;
        }
        .text{
            padding: 10px 0;
        }
        .link{
            color: $black;
            font-size: 12px;
            .arrow{
                display: inline-block;
                height: 8px;
                vertical-align: baseline;
            }
        }
    }
    .pin{
        height: 100px;
    }
    &.custom-modal{
        padding: 30px;
    }
}