.block-article{
    .content{
        p{
            font-family: $font;
            color: $dark-grey;
            margin: 0;
            padding: 0;
            font-size: 14px;
        }
        .subheading{
            margin: 10px 0;
            + p {
                font-size: 1.25rem;
                font-weight: 300;
                color: $red;
            }
        }
        h3{
            font-family: $font;
            font-size: 24px;
            color: $black;
            font-weight: 500;
            line-height: 1.2;
            margin: 10px 0;
        }
        ol{
            padding: 0 0 0 15px;
            margin: 0;
            li{
                color: $red;
                font-size: 20px;
            }
        }
    }
    .summary{
        padding: 0 0 0 15px;
        margin: 0;
        .item{
            color: $red;
            font-size: 20px;
        }
    }
    .tags{
        list-style: none;
        padding: 0;
        margin: 40px 0;
        @include md-less{
            margin: 20px 0;
        }
        .tag{
            display: inline-block;
            color: $white;
            background-color: $dark-grey;
            padding: 10px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
        }
    }
    .author-wrapper{
        position: relative;
        padding: 40px 0;
        border-top: 10px solid $grey;
        border-bottom: 5px solid $grey;
        margin-top: 20px;
        .author-head{
            height: 64px;
            width: 64px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
        }
        .author-header{
            display: block;
            text-transform: uppercase;
            color: $dark-grey;
            font-weight: 500;
        }
        .author-name{
            display: block;
            color: $black;
            font-weight: 600;
            text-transform: capitalize;
        }
        .author-position{
            display: block;
            font-size: 12px;
            color: $dark-grey;
        }
        .social-leading{
            font-size: 12px;
            color: $red;
            font-weight: 600;
            text-transform: uppercase;
        }
        .author-social{
            padding: 0;
            margin: 0;
            list-style: none;
            display: inline-block;
            .item{
                display: inline-block;
                margin-right: 5px;
                &:last-child{
                    margin-right: 0;
                }
            }
            .image{
                height: 12px;
            }
        }
        .spacing{
            margin-top: 20px;
        }
    }
}