.block-list{
    .partner{
        color: $dark-grey;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .link{
        margin: 10px 0;
        font-size: 12px;
        position: relative;
        display: inline-block;
        &:before{
            content: '';
            position: absolute;
            height: 1px;
            bottom: 0;
            width: 100%;
            background-color: $red;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }
        &:hover{
            &:before{
                visibility: visible;
                transform: scaleX(1);
            }
        }
        .arrow{
            display: inline-block;
            height: 8px;
            vertical-align: baseline;
        }
    }
    .logo{
        margin-bottom: 20px;
    }
    .content{
        margin-bottom: 60px;
        &.featured{
            .partner{
                font-weight: 600;
            }
        }
    }
}