.box{
    position: relative;
    &.has-advanced-upload{
        outline: 2px dashed $light-grey;
        outline-offset: -10px;
    }
    .box__input{
        text-align: center;
        padding: 20px 0;
        label{
            margin-bottom: 0;
        }
    }
    .box__file{
        display: none;
    }
}