.explore{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include sm-less{
        height: auto;
    }
    &.red{
        background-color: $red;
    }
    &.black{
        background-color: $black;
    }
    .content{
        padding: 0 100px;
        @include md-less{
            padding: 0 15px;
        }
        .text{
            margin: 20px 0;
        }
    }
    .heading + .btn{
        margin-top: 10px;
    }
} 