.block-contact{
    .text-field {
        height: ($mf-font-size * 1.9);
        display: block;
        background: none;
        padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
        font-size: $mf-font-size;
        border-width: 0;
        border-color: transparent;
        line-height: 1.9;
        width: 100%;
        color: transparent;
        transition: all $mf-transition-speed ease;
        box-shadow: none;
        &:focus {
            outline: none;
            ~ .control-label {
                color: $mf-focus-color;
            }
            ~ .bar {
                &:before {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
    .textarea-field {
        resize: none;
        display: block;
        background: none;
        padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
        font-size: $mf-font-size;
        border-width: 0;
        border-color: transparent;
        line-height: 1.9;
        width: 100%;
        color: transparent;
        transition: all $mf-transition-speed ease;
        box-shadow: none;
        overflow: hidden;
        height: ($mf-font-size * 1.9);
        &:focus{
            outline: none;
            height: 200px;
            ~ .control-label {
                color: $mf-focus-color;
            }
            ~ .bar {
                &:before {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
    .form{
        // The Styles for the form
        .btn-custom{
            @include md-less{
                text-align: center;
                display: block;
                margin: 0 auto;
            }
        }
        fieldset {
            margin-bottom: 30px;
            padding: 0;
            border: none;
        }
        .form-radio,
        .form-group {
            position: relative;
            margin: 20px 0;
        }
        .form-group {
            .control-label {
                position: absolute;
                top: ($mf-font-size / 4);
                pointer-events: none;
                padding-left: $mf-spacer;
                z-index: 1;
                color: $mf-label-color;
                font-size: $mf-font-size;
                font-weight: normal;
                transition: all $mf-transition-speed ease;
            }
            .bar {
                transition: all 0.5s ease;
                position: relative;
                border-bottom: 1px solid $grey;
                display: block;
            }
            input:focus,
            input:valid,
            input.form-file,
            input.has-value,
            textarea:focus,
            textarea:valid,
            textarea.form-file,
            textarea.has-value {
                color: $mf-input-color;
                ~ .control-label {
                    font-size: $mf-active-font-size;
                    color: $mf-active-color;
                    top: $mf-active-top;
                    left: 0;
                }
                ~ .bar{
                    border-bottom: 1px solid $red;
                }
            }
        }
        .form-inline {
            > .form-group,
            > .btn {
                display: inline-block;
                margin-bottom: 0;
            }
        }
        .form-help {
            margin-top: $mf-spacer;
            margin-left: $mf-spacer;
            color: $mf-label-color;
            font-size: $mf-active-font-size;
            .form-radio &,
            .form-group & {
                position: absolute;
                width: 100%;
            }
            .form-radio & {
                padding-top: ($mf-spacer * 2);
                margin-top: -$mf-font-size;
            }
        }
    }
}