.nav{
    padding: 20px 0;
    background-color: $white;
    &.alternate{
        transition: all 0.5s ease;
        background-color: $red;
        .hamburger{
            g{
                transition: all 0.5s ease;
                stroke: $white;
            }
        }
        .hamburger.open{
            g{
                stroke: $red;
            }
        }
    }
}

.nav-items{
    padding: 0;
    margin: 10px 0 0 0;
    list-style: none;
    text-align: center;
    @include sm-less{
        text-align: left;
        margin: 60px 0 0 0;
        padding: 0 0 0 30px;
    }
    @include tablet-to-mobile{
        text-align: left;
        margin: 60px 0 0 0;
        padding: 0 0 0 30px;
    }
    .item{
        display: inline-block;
        margin-right: 10px;
        position: relative;
        @include sm-less{
            display: block;
            margin-bottom: 10px;
        }
        @include tablet-to-mobile{
            display: block;
            margin-bottom: 10px;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    .item-link{
        text-decoration: none;
        color: $red;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        @include sm-less{
            display: block;
        }
        @include tablet-to-mobile{
            display: block;
        }
    }
    &.alternate{
        .item-link{
            color: $white;
            @include sm-less{
                color: $red;
            }
            @include tablet-to-mobile{
                color: $red;
            }
        }
    }
}

.logo-wrapper{
    width: 150px;
    @include md-less{
        margin: 0 auto;
    }
    @include sm-less{
        width: 100px;
        margin: 0 auto;
    }
}

.mail{
    width: 24px;
}

.overlay-menu{
    @include tablet-to-mobile{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 6;
        background-color: $white;
    }
    @include sm-less{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 6;
        background-color: $white;
    }
    .content{
        display: none;
        @include tablet-to-mobile{
            display: block;
        }
        @include sm-less{
            display: block;
        }
        .text{
            text-align: center;
            padding: 0 15px;
        }
    }
    .social-media{
        list-style: none;
        margin: 0;
        padding: 20px 0;
        text-align: center;
    }
    .social-item{
        display: inline-block;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
        .icon{
            height: 16px;
        }
    }
}

.hamburger-wrap{
    position: relative;
    z-index: 7;
}

.collapse-list{
    padding: 0 0 0 15px;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    .collapse-item{
        padding: 10px 0;
        .link{
            color: $dark-grey;
            font-weight: initial;
        }
    }
}

.plus {
    @include plusMinus(12px, 2px, $red);
    @include sm-more{
        display: none;
    }
}

.mobile-scroll-indicator{
    position: absolute;
    top: 24px;
    left: 50%;
    height: 20px;
    width: 20px;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    opacity: 1;
    transition: all 0.5s ease;
    display: none;
    z-index: 2;
    @include sm-less{
        display: block;
    }
    &.hero{
        @include sm-less{
            position: static;
            margin-top: 20px;
            display: block;
        }
    }
    .animate-wheel{
        animation-name: Mousewheel;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
    }
    &.bottom{
        top: auto;
        bottom: 24px;
    }
    &.banner{
        display: block;
        opacity: 1;
    }
    &.hide{
        opacity: 0;
    }
}

.modal-header{
    padding: 10px;
    border-bottom: 0;
}

.modal-content{
    border-radius: 0;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .15);
}

#list{
    @include sm-more{
        display: none;
    }
}

@media only screen and (max-width: 767px) and (min-width: 577px)  {
    .mobile-wrap{
        display: none;
    }
}