.post{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    transition: all 0.3s ease;
    .subheading{
        transition: all 0.3s ease;
        color: $black;
    }
    .overlay{
        transition: all 0.3s ease;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: $grey;
        opacity: 0.5;
    }
    .post-content{
        .link{
            color: $black;
            transform: translateY(80px);
            opacity: 0;
            .arrow{
                display: inline-block;
                height: 8px;
                vertical-align: baseline;
            }
        }
        .subheading{
            transform: translateY(120px);
        }
        .cls-1{
            transition: all 0.3s ease;
        }
    }
    &.in-view{
        background-position: center bottom;
        .overlay{
            opacity: 0;
        }
        .post-content{
            .link{
                color: $white;
                transform: translateY(0);
                opacity: 1;
            }
            .subheading{
                color: $white;
                transform: translateY(0);
            }
            .cls-1{
                fill: $white;
            }
        }
    }
}