.service-block{
    .content{
        transition: all 0.5s ease;
        position: relative;
        padding: 0 60px;
        margin-bottom: 60px;
        transform: scale3d(1, 1, 1) translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-font-smoothing: subpixel-antialiased;
        transform-style: preserve-3d;
        @include md-less{
            padding: 0 15px;
        }
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
            content: '';
            opacity: 0;
        }
        &:hover,
        &:focus {
            transform: scale(1.12, 1.12) translateZ(0);
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.12,1.12);
            -webkit-font-smoothing: subpixel-antialiased;
            transform-style: preserve-3d;
            &::after {
                opacity: 1;
            }
        }
        .banner-img{
            width: 100%;
            margin-top: 50px;
        }
        .heading{
            font-weight: 600;
        }
        .link{
            font-size: 12px;
            .arrow{
                display: inline-block;
                height: 8px;
                vertical-align: baseline;
            }
        }
        .svg-wrapper{
            max-width: 72px;
            margin: 0 auto;
        }
    }
    .main{
        padding: 30px 0;
        @include md-less{
            padding: 30px 15px;
        }
    }
}