.stacked-images{
    position: relative;
    .image{
        position: relative;
        z-index: 2;
        width: 100%;
    }
    &.nfn{
        background-color: $nfn-pink;
    }
    &.apopo{
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 70%;
            background-color: $apopo-blue;
        }
        &:before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 30%;
            background-color: $apopo-dark-blue;
        }
    }
    &.rail-diary{
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 70%;
            background-color: $raildiary-red;
        }
        &:before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 30%;
            background-color: $raildiary-dark-red;
        }
    }
}