.tile-alternate{
    .content{
        @include md-less{
            padding: 20px 15px;
            text-align: center;
        }
    }
    .spacing{
        margin-bottom: 40px;
        @include md-less{
            margin-bottom: 0;
        }
    }
}